@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;700&display=swap');


*{
    box-sizing: border-box;
}
body {
    Font-size: 12px;
    font-family: 'Spartan', sans-serif;
}
.mobile-img {
    display: none;
}
.mobile-view {
    display: none;
}
.center-container {
    height: 100vh;
    height: 100%;
    position: relative;
    margin-left: 60px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-row {
    margin-top:50px;
}
.card-row {
    display: flex;
    flex-direction:row;
    margin-top: 5%;
    max-width: 90%;
}
.star-div{
    display:flex;
    flex-direction:column;
    width: 75%;
}
.star-container {
    position:relative;
}

.star{
    margin-left: 5px;
}
.star-text {
    margin-left: 20px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}
.header {
    font-weight: 800;
    color:hsl(300, 43%, 22%);
    font-size: 45px;
    }
.second {
    background: hsl(300, 24%, 96%);
    padding:15px 2px 15px 20px  ;
    border-radius:5px;
    color:hsl(300, 43%, 22%) !important;
    font-size:10px;
}
.one {
    position:relative;
    left:-15% ;
}
.two{
    margin-top: 4%;
    position: relative;
    left:-5% ;
}
.three {
    margin-top: 4%;
    position:relative;
    left:5% ;
}

.card {
    background-color:hsl(300, 43%, 22%);
    width:50%;
    border: none;
    border-radius:10px;
}
.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    color:hsl(0, 0%, 100%);
}
.card-header {
    display: flex;
    border: none;
    padding-top:8%;
}
.header-text {
    margin-left: 10%;
}

.irene  {
    margin-left:3%;
    position: relative;
    top: 20px;
}
.anne {
    margin-left:3%;
    position: relative;
    top:40px;
}
.name {
    color:hsl(0, 0%, 100%);
}
.buyer {
    color:hsl(333, 80%, 67%);
}
.rounded-circle {
    width:20%;
    height:68%;
}
.bottom-background {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

}
.top-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
@media only screen and (max-width: 768px) {
    /* body {
        
    } */
    .row {
        display:none;
    }
    .mobile-view {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    }
    .center-container {
        margin-left: 10%;
        /* height: 100vh;
        height: 100%; */
    }
    .card-row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .card {
        background-color:hsl(300, 43%, 22%);
        width:100%;
        border: none;
        border-radius:10px;
    }
    .mobile-img {
        position: absolute;
        top: 0;
        left:0;
        z-index: -1;
    }

    .irene  {
        margin: 0;
    }
    .anne {
        margin: 0;
    }
    .star-div{
        display:flex;
        flex-direction: column;
    }
    .one {
        position:relative;
        left:0 ;
    }
    .two{
        margin-top: 4%;
        position: relative;
        left:0 ;
    }
    .three {
        margin-top: 4%;
        position:relative;
        left:0 ;
    }
    .hype {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
    }
    .m-header {
        font-weight: 800;
        color:hsl(300, 43%, 22%) ;
        text-align: center;
    }
    .m-header-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .m-paragraph {
        text-align: center;
    }
    .m-stars {
        width: 82%;
    }

    .second {
        text-align: center;
        height: 50%;
    }
    .star-text {
        position: relative;
        left: -20px;
    }
    .star {
        position: relative;
        left: -10px;
    }
