@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;700&display=swap');


*{
    box-sizing: border-box;
}
body {
    Font-size: 12px;
    font-family: 'Spartan', sans-serif;
}


.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-row {
    margin-top:8%;
}
.card-row {
    display: flex;
    flex-direction:row;
    margin-top: 5%;
    max-width: 75%;
}
.star-div{
    display:flex
    flex-direction:column;
    width:65%;

}
.header {
    font-weight: 700;
    color:hsl(300, 43%, 22%);
    font-size: 35px;
    }
.second {
    background: hsl(300, 24%, 96%);
    padding:15px 2px 15px 20px  ;
    border-radius:10px;
    color:hsl(300, 43%, 22%);
    font-size:10px;
}
.card {
    background-color:hsl(300, 43%, 22%);
    /* max-width:300%;
    max-height:40%; */
    border: none;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.card-text {
    color:hsl(0, 0%, 100%);
}
.card-header {
    display: flex;
    border: none;
    padding-top:10%;
}
.irene  {
    margin-left:3%;
}
.anne {
    margin-left:3%;
}
.name {
    color:hsl(0, 0%, 100%);
}
.buyer {
    color:hsl(333, 80%, 67%);
}
.rounded-circle {
    width:30%;
    height:50%;
   
}
